@model CouponModel
@{
    ViewData["Title"] = "Danh sách mã giảm giá";
}
<div class="p-5" style="width:1895px">
    <h3>Danh sách mã giảm giá</h3>
    <a asp-action="Create" asp-controller="Coupon">Thêm mã giảm giá</a>
    <div style="max-height: 700px; border: 1px solid #ddd;">
        <table style="width: 100%; border-collapse: collapse; background: white; border-radius: 8px; overflow: hidden;">
            <thead style="background: #f8f9fa; color: #333;">
                <tr>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">Tên mã giảm giá</th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">Chi tiết</th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">Ngày bắt đầu</th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">Ngày hết hạn</th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">Số lượng</th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">Trang thái</th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">Giảm giá</th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">Hạn sử dụng</th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var coupon in ViewBag.Coupons)
                {
                    <tr style="border-bottom: 1px solid #ddd; transition: 0.3s; cursor: pointer;">
                        <td style="padding: 12px; font-weight: bold;">@coupon.Name</td>
                        <td style="padding: 12px;">@coupon.Description</td>
                        <td style="padding: 12px;" >@coupon.DateStart.ToString("dd-MM-yyyy")</td>
                        <td style="padding: 12px;">@coupon.DateExpired.ToString("dd-MM-yyyy")</td>
                        <td style="padding: 12px;">@coupon.Quantity</td>
                        <td style="padding: 12px;">
                            @if (@coupon.Status == 1)
                            {
                                <select name="Status">
                                    <option selected value="1">Kích hoạt</option>
                                    <option value="0">Ẩn</option>
                                </select>
                            }
                            else
                            {
                                <select name="Status">
                                    <option value="1">Kích hoạt</option>
                                    <option selected value="0">Ẩn</option>
                                </select>
                            }

                        </td>
                        <td style="padding: 12px;">@coupon.DiscountPercentage</td>
                        <td style="padding: 12px;">
                            @if (coupon.DateExpired < DateTime.Now)
                            {
                                <span class="text text-danger">Hết hạn</span>
                            }
                            else
                            {
                                TimeSpan remainingTime = coupon.DateExpired - DateTime.Now;
                                int daysRemaining = remainingTime.Days;
                                @if (daysRemaining == 0)
                                {
                                    <span class="text text-danger">Hôm nay</span>
                                }
                                else
                                {
                                    <span class="text text-success"> còn @daysRemaining ngày</span>
                                }
                            }
                        </td>
                        <td style="padding: 12px;">
                            <a class="" asp-action="Edit" asp-controller="Coupon" asp-route-Id="@coupon.Id">
                                <i class="fa-solid fa-pen" style="color:yellow"></i>
                            </a>
                            <a class="" asp-action="Delete" asp-controller="Coupon" asp-route-Id="@coupon.Id">
                                <i class="fa-solid fa-trash" style="color:red"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

