@model IEnumerable<SliderModel>

@{
    ViewData["title"] = "Danh sách quảng cáo";
}
<div class="p-5" style="width:1895px">

    <h3>Danh sách quảng cáo</h3>

    <a  asp-action="Create" asp-controller="Slider">+ Tạo mới</a>
    <div style="max-height: 700px; border: 1px solid #ddd;">
        <table style="width: 100%; border-collapse: collapse; background: white; border-radius: 8px; overflow: hidden;">
            <thead style="background: #f8f9fa; color: #333;">
                <tr>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">Id</th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">Tên</th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">Chi tiết quảng cáo</th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">Ảnh </th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">Trạng thái</th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">Hành động</th>
                </tr>
            </thead>
            <tbody style="color: #555; font-size: 14px;">
                @foreach (var item in Model)
                {
                    <tr style="border-bottom: 1px solid #ddd; transition: 0.3s; cursor: pointer;">
                        <td style="padding: 12px;">@item.Id</td>
                        <td style="padding: 12px;">@item.Name</td>
                        <td style="padding: 12px;">@Html.Raw(@item.Description)</td>
                        <td style="padding: 12px;"><img src="~/sliders/@item.Image" width="400px" height="200px" /></td>
                        <td style="padding: 12px;">
                            @if (item.Status == 1)
                            {
                                <span class="text text-success">Hiển thị</span>
                            }
                            else
                            {
                                <span class="text text-danger">Ẩn</span>
                            }
                        </td>
                        <td style="padding: 12px;">
                            <a asp-action="Edit" asp-controller="Slider" asp-route-Id="@item.Id" style="margin-right: 10px; color: #ffc107; text-decoration: none; font-size: 18px;">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                            <a asp-action="Delete" asp-controller="Slider" asp-route-Id="@item.Id" style="color: red; text-decoration: none; font-size: 18px;">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
 </div>
</div>