@model IEnumerable<OrderModel>

@{
    ViewData["title"] = "Danh sách đơn hàng";
    int totalItems = ViewBag.TotalItems;
    int pageNumber = ViewBag.PageNumber;
    int pageSize = ViewBag.PageSize;
    int totalPages = (int)Math.Ceiling((double)totalItems / pageSize);
}

<div class="p-5" style="width:1895px">
    <h3 class="text-xl font-bold mb-4">Danh sách đơn hàng</h3>
    <a asp-action="Create" asp-controller="Order" class="text-blue-500 hover:underline">+ Tạo mới</a>
    <div style="max-height: 1200px; overflow-y: auto; border: 1px solid #ddd;">
        <table style="width: 100%; border-collapse: collapse; background: white; border-radius: 8px; overflow: hidden;">
            <thead style="background: #f8f9fa; color: #333;">
                <tr>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd; width: 165px;">Mã code đơn hàng</th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd; width: 190px;">Tên người mua</th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd; width: 190px;">Mã áp dụng</th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd; width: 170px;">Số phần trăm giảm</th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd; width: 170px">Phí giao hàng</th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd; width: 170px">Tổng đơn</th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd; width: 170px">Ngày giờ</th>
                    <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd; width: 170px" >Trạng thái</th>
                    
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model)
                    {
                        if (item != null)
                        {
                        <tr style="border-bottom: 1px solid #ddd; transition: 0.3s; cursor: pointer;">
                            <td style="padding: 12px; font-weight: bold;">
                                <a asp-action="OrderDetail" asp-controller="Orders" asp-route-Id="@item.Id">@item.OrderCode</a>
                            </td>
                            <td style="padding: 12px">@item.UserName</td>
                            <td style="padding: 12px">@item.CouponCode</td>
                            <td style="padding: 12px; text-align : center">@item.DiscountPercentage</td>
                            <td style="padding: 12px">@item.ShippingPrice.ToString("#,##0 VNĐ")</td>
                            <td style="padding: 12px">@item.TotalPrices.ToString("#,##0 VNĐ")</td>
                            <td style="padding: 12px">@item.CreatedDate</td>
                            <td>
                                <form method="post" asp-action="UpdateOrderAdmin" asp-controller="Orders"  asp-route-id="@item.Id">
                                    <input type="hidden" name="Id" value="@item.Id" />
                                    <select name="Status">
                                        <option style="color: red" value="0" selected="@(item.Status == 0)">Hủy đơn</option>
                                        <option style="color: yellowgreen" value="1" selected="@(item.Status == 1)">Chờ xác nhận</option>
                                        <option style="color: blue" value="2" selected="@(item.Status == 2)">Đã xác nhận</option>
                                        <option style="color: gray" value="3" selected="@(item.Status == 3)">Đã đóng gói</option>
                                        <option style="color: orange" value="4" selected="@(item.Status == 4)">Đã vận chuyển</option>
                                        <option style="color: green" value="5" selected="@(item.Status == 5)">Đã nhận hàng</option>
                                        <option style="color: lawngreen" value="6" selected="@(item.Status == 6)">Đã thanh toán</option>
                                    </select>
                                    <button type="submit" style="border: none; background: none;" title="Cập nhật trạng thái">
                                        <i class="fa-solid fa-check" style="color:green; margin-left:20px"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        }
                    }

            </tbody>
        </table>
    </div>
    <div style="margin-top: 20px; text-align: center;">
        @if (pageNumber > 1)
        {
            <a href="@Url.Action("Index", new { page = pageNumber - 1 })" style="margin-right: 10px; text-decoration: none; color: #007bff;">Previous</a>
        }

        @for (int i = 1; i <= totalPages; i++)
        {
            if (i == pageNumber)
            {
                <strong style="margin-right: 10px; color: #000;">@i</strong>
            }
            else
            {
                <a href="@Url.Action("Index", new { page = i })" style="margin-right: 10px; text-decoration: none; color: #007bff;">@i</a>
            }
        }

        @if (pageNumber < totalPages)
        {
            <a href="@Url.Action("Index", new { page = pageNumber + 1 })" style="margin-right: 10px; text-decoration: none; color: #007bff;">Next</a>
        }
    </div>
</div>