@using TechecomViet.Models.ViewModel
@model HomeViewModel

@{
    ViewData["title"] = "TechViet - Nơi ươm mầm công nghệ Việt";
}

<div>
    <partial name="_PartialCategory" model="Model.Categories" />
</div>

<div style="margin-left: 600px; margin-top: 20px">
    <h3>Sản phẩm mới</h3>
</div>

<div class="product-grid">
    @foreach (var item in Model.Products)
    {
        <div class="product-card">
            <div style="position: relative; display: inline-block;">
                <div>
                    <img src="~/products/@item.Images[0]" style="width: 100%; display: block;">
                </div>
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <button class="add-btn-wishlist" data-product_id="@item.Id"
                            style="position: absolute; top: 10px; right: 10px; background: rgba(255, 255, 255, 0.8);
               border: none; border-radius: 50%; padding: 8px; cursor: pointer;
               font-size: 18px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
                        <i class="fa-solid fa-heart" style="color: red;"></i>
                    </button>
                }
            </div>
            <div class="brand">@item.Brand.Name</div>
            <div class="product-name"><a asp-action="Detail" asp-controller="Product" asp-route-Id="@item.Id">@item.Name</a></div>
            <div class="price">
                <div class="sale-price">
                    <div class="sale-price">
                        @(((decimal)item.Price - ((decimal)item.Price * (decimal)(item.DiscountPercentage ?? 0) / 100)).ToString("#,##0 VNĐ"))
                    </div>
                </div>
                <div class="">@item.Price.ToString("#,##0 VNĐ")</div>
            </div>
             @if(item.Quantity != 0){
                <button class="add-to-cart" data-product-id="@item.Id">Thêm vào giỏ</button>
             }
             else {
                 <div>Hết hàng</div>
             }
        </div>
    }
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            $('.add-btn-wishlist').click(function () {
                var Id = $(this).data("product_id");


                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddWishlist", "Home")",
                    data: { Id: Id },

                    success: function (response) {
                        if (response) {

                            Swal.fire({
                            title: "Thành công!",
                            text: response.message,
                            icon: "success",
                            confirmButtonText: "OK"
                            });
                        }
                    },
                     error: function () {
                        Swal.fire({
                            title: "Lỗi!",
                            text: errorMessage,
                            icon: "error",
                            confirmButtonText: "OK"
                        });
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".add-to-cart").click(function () {
                var productId = $(this).data("product-id"); 
                var quantity = 1; 

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddToCart", "Cart")",
                    data: { productId: productId, quantity: quantity },
                    success: function (response) {
                        Swal.fire({
                            title: "Thành công!",
                            text: response.message,
                            icon: "success",
                            confirmButtonText: "OK"
                        });
                    },
                    error: function () {
                        Swal.fire({
                            title: "Lỗi!",
                            text: errorMessage,
                            icon: "error",
                            confirmButtonText: "OK"
                        });
                    }
                });
            });
        });
    </script>

}
