<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="~/images/logo.jpg" />
    <title>@ViewData["Title"] - TechViet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TechViet.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
</head>
<body style="background-color:#F8FAFC">
  
   <div style="display:flex">
       <div>
            @Html.Partial("_PartitalNavbar")
       </div>
        <div>
			<div style="width: 1719px">
				@Html.Partial("_PartitalHeader")
                @RenderBody()
            </div>
        </div>

   </div>
    
	<script src="~/js/jquery.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/price-range.js"></script>
	<script src="~/js/jquery.prettyPhoto.js"></script>


	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.all.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.7.1.jss"></script>

	<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>

	<script src="https://cdn.datatables.net/buttons/3.2.0/js/dataTables.buttons.js"></script>

	<script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.dataTables.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.print.min.js"></script>
	<script>
		$(function(){
			var message = '@TempData["success"]'
			if(message != '')
			Swal.fire(message);
		})
	</script>

	@RenderSection("Scripts", required: false)
</body>
</html>
